body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Define the animation keyframes. */
@keyframes marker-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply the animation to the markers. */
.marker-animation {
  animation: marker-fade-in 5s ease-in-out;
}
